<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<button  (click) ='onSave($event)'>
  CLick
</button>
<input [(ngModel)] = "fullName">
<p>
  {{fullName}}
</p>

<div style= "text-align:center">
  <h1>Welcome to {{title}}. </h1>
  </div>
  <div style = "text-align:center">
  <span appTesting > Hello {{ title }}.</span>
</div>




<p>The hero's birthday is {{ birthday | date:format }}</p>
<p>The chained hero's birthday is
{{ birthday | date:'fullDate' | uppercase}}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<div>String to reverse: <input [(ngModel)]="rev"></div>
<p>Reverse of string honey is {{ rev | sqrt }}</p>






<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  <button (click)="updateProfile()">Update Profile</button>
  Form Status: {{ profileForm.status }}
  
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
  
    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
</form>







<p [appTesting] ="'orange'">Highlighted in orange</p>
<!-- <p appTesting [highlightColor]="color">Highlighted with parent component's color</p> -->
<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appTesting]="color">Highlight me!</p>
<p [appTesting]="color" defaultColor="violet">
  Highlight me too!
</p>



<div class="form-group">
  <label>
    Email:
   </label>
   <input type="text" [formControl]="email"/>
</div> 
<div class="form-group">
  <button (click)="updateEmail()" class="btn btn-dark">Update Email</button>
</div>
Value:{{email.value}}

<h2>My Servers</h2>

<button class="btn btn-primary" (click)="OnAddServer()">Add Server</button>

<ul class="list-group">
  <li class="list-group-item"
  *ngFor= "let server of servers; let i=index" (click)="onRemoveServer(i)">{{server}}
  </li>
  </ul>

<router-outlet></router-outlet>
